body {
    margin: 0px;
    padding: 0px;
}

.banner{
    position: relative;
    background-color: #6ba4ff;
    background-image: url('../img/pattern.png');
    width: 100%;
    height: 170px;
}


.bool-logo {
    position: relative;
    width: 85%;
    height: 100%;
    margin: auto;
}


.bool-logo img{
    position: absolute;
    height: 60px;
    bottom: 0px;
    left: 50px;
}

#h1int {
font-size: 275%;
margin-bottom: 0px;
font-style: oblique;
}
main {
    width: 80%;
    margin: auto;
}

.descrizione {
    font-weight: 900;
    color: #677fa6 ;
}

.nomebool {
    font-size: 115%;
    color:  #2ed2ff;
}

.data {
    font-size: 120%;
}


.desc-img{
    font-weight: bold;
}

.tim img {
    padding-top: 25px;
}


.txt {
    background-color: yellow;
}

.lorem1 {
    font-size: 105%;
}

.lista {
 margin-left: -25px ;
 margin-top: 30px;
 margin-bottom: 30px;
}

.tabella {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-left: -10px;
}

.tabella tabella {
    border-collapse: collapse;
    text-align: left;
}

.table {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.table table {
    border-collapse: collapse;
    text-align: center;
}

.table table thead {
    background-color: #6ba4ff;
    color: #fff;
}

.table table th {
    width: 5%;
}

table tbody{
    font-size: 0.7rem;
}

.table tr:nth-child(even) {
    background-color: #6ba4ff;
}

